! ~/.Xresource

! black
! color0 color8
! red
! color1 color9
! green
! color2 color10
! yellow
! color3 color11
! blue
! color4 color12
! magenta
! color5 color13
! cyan
! color6 color14
! white
! color7 color15

! https://github.com/mbadolato/iTerm2-Color-Schemes/blob/master/Xresources/SpaceGray Eighties
*.foreground:  #bdbaae
*.background:  #222222
*.cursorColor: #bbbbbb
*.color0:      #15171c
*.color8:      #555555
*.color1:      #ec5f67
*.color9:      #ff6973
*.color2:      #81a764
*.color10:     #93d493
*.color3:      #fec254
*.color11:     #ffd256
*.color4:      #5486c0
*.color12:     #4d84d1
*.color5:      #bf83c1
*.color13:     #ff55ff
*.color6:      #57c2c1
*.color14:     #83e9e4
*.color7:      #efece7
*.color15:     #ffffff
*.colorBD:     #ffffff

! xft
*.font:      xft:JetBrains Mono:style=Regular:size=12, xft:WenQuanYi Micro Hei Mono, xft:Symbola
*.boldFont:  xft:JetBrains Mono:style=Bold:size=12, xft:WenQuanYi Micro Hei Mono, xft:Symbola

! URxvt
URxvt.letterSpace:               1
URxvt.scrollBar:                 false
URxvt.perl-ext-common:           default,clipboard
URxvt.keysym.Shift-Control-V :   eval:paste_clipboard
URxvt.keysym.Shift-Control-C:    eval:selection_to_clipboard
